/********** Custom Fonts **********/
@font-face {
    font-family: 'BuloRounded';
    src: url(../fonts/bulorounded/BuloRounded-Black.ttf) format('truetype'),
        url(../fonts/bulorounded/BuloRounded-BlackItalic.ttf) format('truetype'),
        url(../fonts/bulorounded/BuloRounded-Bold.ttf) format('truetype'),
        url(../fonts/bulorounded/BuloRounded-BoldItalic.ttf) format('truetype'),
        url(../fonts/bulorounded/BuloRounded-Light.ttf) format('truetype'),
        url(../fonts/bulorounded/BuloRounded-LightItalic.ttf) format('truetype'),
        url(../fonts/bulorounded/BuloRounded-Medium.ttf) format('truetype'),
        url(../fonts/bulorounded/BuloRounded-MediumItalic.ttf) format('truetype'),
        url(../fonts/bulorounded/BuloRounded-Regular.ttf) format('truetype'),
        url(../fonts/bulorounded/BuloRounded-RegularItalic.ttf) format('truetype');
}

body {
    font-family: 'BuloRounded', sans-serif !important;
}

.preloader {
    width: 600px;
    height: 250px;
}
/********** Template CSS **********/
:root {
    --primary: #3f1194;
    --light: #e4ddf7;
    --green: #60f3d6;
    --dark: #181d38;
}

.fw-medium {
    font-weight: 600 !important;
}

.fw-semi-bold {
    font-weight: 700 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

.whatsapp {
    position: fixed;
    background-color: #4fce5d;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 8px;
    border-radius: 50%;
    right: 45px;
    bottom: 120px;
    z-index: 999;
    transition: all .2s ease-in-out;
}
.whatsapp:hover {
    color: #fff;
    transform: scale(1.1);
}
@media (max-width: 767px) {
    .back-to-top,
    .whatsapp {
        right: 25px !important;
    }
}

/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 999999999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-family: 'BuloRounded', sans-serif;
    font-weight: 600;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 0px;
}

/* Intro */
.intro {
    background-color: var(--green);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 3px solid var(--primary);
}
.flags {
    padding: 15px;
    z-index: 99999;
}
.flags img {
    width: 25px;
    height: 15px;
    margin-right: 5px;
    margin-bottom: 3px;
}
.langs {
    font-size: 18px;
    margin-bottom: 10px;
    padding-left: 10px;
    color: var(--primary);
    background-color: var(--green);
}
.langs a:first-of-type {
    font-weight: bold;
    padding-bottom: 5px;
}

.intro .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: normal;
    background-color: #ff5656;
    border: 1px solid #ff5656;
    border-radius: 50%;
    transition: .3s;
}

.intro .btn.btn-social:hover {
    background-color: #ff1f1f;
}

/* Intro */


/*** Navbar ***/
.logo {
    width: 150px;
    height: 30px;
    padding-left: 25px;
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar-light .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
}
.navbar-toggler {
    border-color: transparent !important;
    color: var(--primary) !important;
    font-size: 26px;
}
.navbar-toggler i{
    transition: all .3s ease-in-out;
}
.navbar-toggler:focus {
    box-shadow: none !important;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar-light .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

.navbar-light .navbar-brand,
.navbar-light a.btn {
    height: 75px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
}

.navbar-light.sticky-top {
    top: -100px;
    transition: .5s;
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        margin-top: 0;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .dropdown-menu.fade-down {
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header carousel ***/
@media (max-width: 768px) {
    .header-carousel .owl-carousel-item {
        position: relative;
        min-height: 500px;
    }
    
    .header-carousel .owl-carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .header-carousel .owl-nav .owl-prev,
    .header-carousel .owl-nav .owl-next {
        transform: translateY(50px);
    }
    .card-body .price a {
        padding: 5px 10px !important;
    }
}

.hero {
    max-width: 250px;
}

.header-carousel .owl-nav {
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    margin: 7px 0;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: transparent;
    border: 1px solid #FFFFFF;
    font-size: 22px;
    transition: .5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: var(--primary);
    border-color: var(--primary);
}

.page-header {
    height: 650px;
    display: flex;
    align-items: center;
}
.page-header.aboutH {
    background: linear-gradient(rgba(24, 29, 56, .7), rgba(24, 29, 56, .7)), url(../img/1.من\ نحن.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.page-header.coursesH {
    background: linear-gradient(rgba(24, 29, 56, .7), rgba(24, 29, 56, .7)), url(../img/التخصصات.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.page-header.uniH {
    background: linear-gradient(rgba(24, 29, 56, .7), rgba(24, 29, 56, .7)), url(../img/الجامعات.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.page-header.teamH {
    background: linear-gradient(rgba(24, 29, 56, .7), rgba(24, 29, 56, .7)), url(../img/1.من\ نحن.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.page-header.testiH {
    background: linear-gradient(rgba(24, 29, 56, .7), rgba(24, 29, 56, .7)), url(../img/تواصل\ معنا.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.page-header.contactH {
    background: linear-gradient(rgba(24, 29, 56, .7), rgba(24, 29, 56, .7)), url(../img/contact\ us.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.page-header-inner {
    background: rgba(15, 23, 43, .7);
}

.breadcrumb-item + .breadcrumb-item::before {
    color: var(--light);
}
.breadcrumb-item a:hover {
    transition: color .25s ease-in-out;
    color: var(--green) !important;
}


/*** Section Title ***/
.section-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
}

.section-title::before {
    position: absolute;
    content: "";
    width: calc(100% + 80px);
    height: 2px;
    top: 4px;
    left: -40px;
    background: var(--green);
    z-index: -1;
}

.section-title::after {
    position: absolute;
    content: "";
    width: calc(100% + 120px);
    height: 2px;
    bottom: 5px;
    left: -60px;
    background: var(--green);
    z-index: -1;
}

.section-title.text-start::before {
    width: calc(100% + 40px);
    left: 0;
}

.section-title.text-start::after {
    width: calc(100% + 60px);
    left: 0;
}


/*** Service ***/
.service-item {
    background: var(--light);
    transition: .5s;
}

.service-item:hover {
    margin-top: -10px;
    background: var(--primary);
}

.service-item * {
    transition: .5s;
}

.service-item:hover * {
    color: var(--light) !important;
}


/*** Categories & Courses ***/
.hcard {
    box-shadow: 0 6px 20px rgba(0,0,0,.10196);
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 25px;
    padding: 25px 15px;
    border-radius: 15px;
    margin-bottom: 25px;
    cursor: pointer;
    transition: transform .2s ease-in-out;
}

.hcard .img {
    padding: 15px;
    border-radius: 10px;
    background-color: #60f3d625;
    width: 110px;
    height: 110px;
}
.hcard .img img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}
.hcard .content p {
    margin-bottom: 0;
}
.hcard .content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.hcard:hover {
    box-shadow: 0 1rem 1rem rgba(0,0,0,.175);
    transform: translateY(-5px);
}

/*** Team ***/
.team-item img {
    transition: .5s;
}

.team-item:hover img {
    transform: scale(1.1);
}


/*** Testimonial ***/
.testimonial-carousel::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

.testimonial-carousel::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

@media (min-width: 768px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 200px;
    }
}

@media (min-width: 992px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 300px;
    }
}

.testimonial-carousel .owl-item .testimonial-text,
.testimonial-carousel .owl-item.center .testimonial-text * {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-text {
    background: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-text * {
    color: #FFFFFF !important;
}

.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 25px;
    height: 4px;
    border: 1px solid #ddd;
    background-color: #ddd;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--primary);
    border-color: var(--primary);
}


/*** Footer ***/
.minus {
    margin-bottom: -2px;
}
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    font-weight: normal;
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
    color: var(--green);
}
.footer .author:hover {
    color: var(--green);
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}

/* University */


.allwrps {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}

.card {
    width: 400px !important;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.card:hover {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card-title {
    color: var(--primary);
    text-align: left;
}
.card-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}
.card-text img {
    border-radius: 0;
}
.card-text span {
    background-color: #60f3d625;
    border-radius: 5px;
    color: var(--dark);
    font-weight: 600;
    padding: 5px 15px;
    display: flex;
    gap: 5px;
    align-items: center;
}
.card-body img {
    width: 25px;
    height: 15px;
}
.card-body .degree {
    height: 20px;
    width: 20px;
}

.card-body .price {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid var(--light);
}
.card-body .price p {
    margin-bottom: 0 !important;
    color: var(--primary);
    font-weight: bold;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}
.card-body .price p span {
    text-decoration: line-through;
    color: var(--dark);
    font-weight: 500;
}

.card-body .price a {
    background-color: var(--primary);
    color: var(--light);
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 500 !important;
    border-radius: 8px;
    transition: background-color .2s ease-in-out;
}
.card-body .price a:hover {
    background-color: #5f25eb;
}


.btns {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 15px;
}

.btns button {
    padding: 15px 40px;
    border: none;
    outline: none;
    border-radius: 5px;
    margin: 0 10px;
    cursor: pointer;
    transition: .3s;
}

.btns button:hover,.btns button.active {
    background: var(--primary);
    color: #fff;
}


/* Details */
.uni8 {
    box-shadow: 0 6px 20px rgba(0,0,0,.10196);
    padding: 15px;
    border-radius: 10px;
    border: 1px solid var(--light);
}
.uni8 .uimg {
    width: 100%;
    height: 250px;
    border-radius: 5px;
}
.uni8 .unimg {
    padding: 15px;
    border-radius: 5px;
    background-color: #60f3d625;
    margin-bottom: 1rem;
}
.uni8 .content {
    padding-left: 15px;
    border-bottom: 1px solid var(--light);
}
.uni8 .content p {
    color: gray;
    font-size: 18px;
}
.uni8 .content p span {
    color: var(--dark);
}
.uni8 .content p span i {
    margin-right: 8px;
}


.uni4 {
    box-shadow: 0 6px 20px rgba(0,0,0,.10196);
    padding: 15px;
    border-radius: 10px;
    border: 1px solid var(--light);
}
.uni4 .imgbox {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
}
.uni4 img {
    width: 100%;
    height: 100%;
    transition: transform .2s ease-in-out;
}
.uni4 img:hover {
    transform: scale(1.125);
}
.uni4 .content p {
    margin-bottom: 0 !important;
}
.uni4 .content .price {
    color: var(--dark);
    font-size: 18px;
}
.uni4 .content .price .discount {
    text-decoration: line-through;
    color: gray;
    margin-left: 10px;
}
.uni4 .content .offer {
    background-color: var(--green);
    padding: 10px 20px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
@media (min-width: 991px) and (max-width: 1200px) {
    .uni4 .content .offer {
        padding: 10px !important;
    }
}

.uni4 .content .stats p {
    color: var(--dark);
    font-size: 18px;
}
.uni4 .content .stats p i {
    color: var(--primary);
    font-size: 22px;
    margin-right: 5px;
}
.uni4 .content .stats p span {
    color: gray;
    margin-left: 5px;
}
.uni4 .content .reg a {
    padding: 10px;
    background-color: var(--primary);
    border-radius: 8px;
    color: #fff;
    transform: all .2s ease-in-out;
}
.uni4 .content .reg a:hover {
    background-color: #5f25eb;
}

.uni4 .title {
    font-size: 18px;
}

.dcard {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 25px;
    padding-top: 25px;
    border-radius: 15px;
    margin-bottom: 25px;
    cursor: pointer;
    transition: transform .2s ease-in-out;
}

.dcard .img {
    padding: 15px;
    border-radius: 10px;
    background-color: #60f3d625;
    width: 110px;
    height: 110px;
}
.dcard .img img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}
.dcard .content p {
    margin-bottom: 0;
}
.dcard .content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.dcard .content i {
    color: var(--primary);
}
/* Details */

.info-list {
    padding-left: 0 !important;
    margin-bottom: 0 !important;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    gap: 0 10px;
    flex-wrap: wrap;
    border-bottom: 1px solid var(--light);
}
.info-list li {
    position: relative;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: color .2s ease-in-out;
}
@media (max-width: 767px) {
    .info-list {
        display: block;
    }
    .info-list li.active {
        background-color: var(--light);
    }
}
.info-list li:hover {
    color: var(--primary);
}
.info-list li.active {
    /* background-color: var(--light); */
    border-bottom: 2px solid var(--primary);
    color: var(--primary);
}

.info-content > .accordion-item {
    padding: 20px;
    line-height: 2;
}
.info-content > .accordion-item:not(:first-of-type) {
    display: none;
}

.accordion-item i {
    vertical-align: middle;
    margin-right: 10px;
}
.accordion-button {
    font-size: 20px;
}

.accordion-body .title {
    color: var(--primary);
    font-weight: bold;
}
.accordion-body .subtitle {
    color: var(--primary);
}


::marker {
    font-size: 20px !important;
    color: var(--primary);
}

/* Sub List */

.info-list2 {
    padding-left: 0 !important;
    margin-bottom: 0 !important;
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 0 10px;
    flex-wrap: wrap;
    border-bottom: 1px solid var(--light);
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    background-color: var(--light);
}
.info-list2 li {
    position: relative;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: color .2s ease-in-out;
}
@media (max-width: 767px) {
    .info-list2 {
        display: block;
    }
    .info-list2 li.active {
        background-color: var(--light);
    }
    .unibox {
        display: block !important;
    }
    .unibox .period {
        text-align: left !important;
    }
}
.info-list2 li:hover {
    color: var(--primary);
}
.info-list2 li.active {
    /* background-color: var(--light); */
    border-bottom: 2px solid var(--primary);
    color: var(--primary);
}

.info-content2 > .accordion-item {
    padding: 20px;
    line-height: 2;
}
.info-content2 > .accordion-item:not(:first-of-type) {
    display: none;
}

.unibox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--light);
    font-size: 16px;
    padding: 10px;
}
.unibox div {
    width: 250px;
}
.info-content2 .title {
    background-color: #60f3d625;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    margin: 10px 0;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 8px;
}
.info-content2 .title img {
    width: 35px;
}
.unibox .period {
    text-align: center;
}
.unibox .country img {
    width: 25px;
    height: 15px;
    margin-right: 5px;
}
.unibox .price span {
    text-decoration: line-through;
    color: gray;
}



/* table */

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
  color: var(--primary) !important;
  /* font-weight: 800; */
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}
